body{
	background-color:white;

}


.navmenu {
  overflow: hidden;
  background-color: white;
  color:black;

}

.navmenu a {
  float:left; 
  color: black;
  text-align: center;
  padding: 1.5% 6%;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia;

}



.navmenu a.estatico {
    background-color: #D71414;
    color: white;
    font-size: 35px;

}

.port{
  float:left;
  overflow:hidden;
}
.port .portbt {
  background-color: white;
  border:none;
  outline:none;
  color: black;
  text-align: center;
  padding: 18px 145px;
  font-size: 20px;
  font-family: Georgia ;
}

.navmenu a:hover, .port:hover .portbt{
  background-color: black;
  color:white;

}


.port-content{
  display:none;
  position:absolute;
  background-color:grey;
  min-width: 200px;
  box-shadow: 20px 20px 20px 20px rgba(0,0,0,0);
  z-index: 1;
}

.port-content a{
    float:none;
    color: white;
    padding: 25px 62px;
    text-decoration: none;
    display: block;
    text-align:left;
}

.fotinho {
  width: 100%;

}

.container {
    position: relative;
}

.center {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: black;
}

.img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}


.port-content a:hover {
  background-color: #C63622
}
.port:hover .port-content {
    display: block;
}



.card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    height:360px;
    margin-top:80px;
    margin-left:58px;
    text-align: center;
    background-color: #EBEAE7;
    color:black;
    display:inline-block;
    font-size: 15px;
}

.info {
    padding: 0 30px;
}

.materia {
    color: black;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #D71414;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


button:hover, a:hover {
    opacity: 0.8;
    background-color: ;
}