.document{
    width: 1440px;
    height:700px;
    background-color: white;
}
#titulo{
    font-family: Roboto;
    font-color:black;
    text-align:center;
}

.document img{
    border-radius: 10%;
    float:left;
    width: 40%;
    height: 62%;

}

#conteudo{
    border-radius: 5%;
    padding:8px;
    border:solid #D71414 10px;
    float:right;
    width: 55%;
    background-color: #EBEAE7;
    margin-right: 5px;
    font-size:30px;
    font-family: Roboto;
    }